# Ignore everything at the root except backend folder
/*
!.gitignore
!backend/

# Allow everything inside backend
!backend/**
# Ignore unwanted files in backend
backend/venv/
backend/.env
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/*.log
backend/celerybeat-schedule

# Ignore all __pycache__ folders anywhere under backend
backend/**/__pycache__/

# Ignore all compiled Python files under backend
backend/**/*.py[cod]

# Ignore all Django migration folders
backend/**/migrations/

# OS & IDE specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
